.inp {
  background: linear-gradient(to right, #000000, #434343);
  color: rgb(224, 216, 216);
}

.inp:focus {
  background: transparent;
  font-weight: bold;
}

.pass {
  position: relative;
  width: fit-content;
}

.pass i {
  position: absolute;
  top: 8px;
  right: 7px;
  cursor: pointer;
  color: white;
}
